body{
  background-color: #00d3de;
  background-image: url("https://www.transparenttextures.com/patterns/cartographer.png");
}
.App {
  text-align: center;
}

label {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  display: inline-block;
  width: 150px; /* Adjust width as needed */
  text-align: right;
  margin-right: 10px; /* Adjust margin as needed */
}

input {
  padding: 10px;
  margin: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.header-text {
  font-family: 'Montserrat', sans-serif; 
  font-size: 48px;
  font-weight: bold;
  color: white;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 20px;
  margin: 0;
}

.button-34 {
  background: #69fd8c;
  border-radius: 999px;
  box-shadow: #55ce71 0 10px 20px -10px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
  margin-top: 10px;
  margin: 5px;
}

.bold-text{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.video-card{
  display: flex;
  flex-direction: column;
  align-items: center;
}